body{
    background-color: lightgray;
}

form{
    display: flex;
    flex-direction: column;
}
h1{
    color:black;
}

#container{
    display: flex;
    justify-content:space-between;
}
form > *{
    margin:0.5rem;
}
a{
    font-size: 1.5rem;
    text-decoration: none;
    color:black;
}
form{
    width:50%;
}
ul{
    padding:0.2rem;
    margin:0rem;
    list-style-type: none
}
p{
    color:black;
    font-size: 1.3rem;
    font-weight: lighter;
}
